@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

.about {
    display: flex;
    height: 100vh;
    margin: auto;
    width: 70vw;
    margin-bottom: 6vh;
    flex-direction: column;
    gap: 1rem; 
    align-items: center;
    color: white;
}

.head {
    font-size: 3vw;
    font-weight: 700;
    font-family: 'Kalam', cursive;
    width: 70vw;
    color: white;
    margin: auto;
    margin-top: 2vh;
    padding-left: 6vw;

}

.aboutmyself {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5vh;
    font-size: 20px;

}

.aboutmyself p {
    width: 22vw;
}

.frame {
    margin-top: -1.5vh;
}