@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    transition: 1s;
}
body{
    
    width: 98vw;
    background-color: #001042;
    height: 98vh;

}
