@font-face {
    font-family: mova;
    src: url("../fonts/mova.ttf");
}

.containerr {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: mova;
    font-size: 30px;
    width: 100%;
    position: fixed;
    top: 0;
    height: 7vh;
    color: white;
    z-index: 10;
}

.logo {
    width: 190px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo img {
    border: 1px solid black;

}

.containerr ul {
    display: flex;
    gap: 1.5rem;
    z-index: 5;
}

.containerr li {
    position: relative;
}

.containerr a {
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    padding: 15px 20px;
}

.containerr a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.containerr a:hover:after {
    width: 80%;
    left: 10%;
}

@media screen and (max-height: 300px) {
    .containerr ul {
        margin-top: 40px;
    }
}