.centerImage{
    width: 40vw;
    transform: translateX(75%);
    opacity: 20%;
}

.svg{
    position: fixed;
    top: 20px;
    height: 100vh;
    z-index: -5;
    filter: grayscale(30%);
}

.leftImage{
    width: 16vw;
    transform: translate(30%, -24%);
    position: fixed;
    top: 20px;
    height: 100vh;
    z-index: -10;
    opacity: 25%;
}

.centerImage2{
    width: 16vw;
    transform: translate(30%, 17%);
    opacity: 25%;
}

.rightImage1{
    width: 14vw;
    right: 11rem;
    transform: translateY(-24%);
    opacity: 25%;
    z-index: -10;
}
.rightImage2{
    width: 18vw;
    right: 8rem;
    transform: translateY(15.4%);
    z-index: -4;
    opacity: 25%;
}